.publicacion{
    padding:20px;
    margin: 25px 5px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
}

.publicacion img{
    width: 150px;
}

.aIconos{
    font-size: 26px;
    float: right;
    margin-right: 35px;
    margin-top: -20px;
}